img{
    border-radius: 100%;
    width: 250px;
}
#name{
    font-family: 'Yatra One', cursive;
    color: rgb(7, 7, 177);
}
#descr{
    font-family: 'Pacifico', cursive;
    font-size: larger;
}
#head{

}
h2{
    color: rgb(13, 13, 116);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
     font-size: larger;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-left: 30px;
     margin-right: 30px;
}
table{
    border: blue;
    border-color: rgb(6, 6, 12);
    width: 700px;
    background-color: rgb(192, 192, 245);
}
.ul{
    display: inline-block;
    background-color: rgb(192, 192, 245);
    width: 700px;
}

