
#fr{
    background-color: red;
    width: 49%;
    height: 48%;
    position: absolute;
    right: 0px;
    top: 0%;
}

#sc{
    background-color : black;
    width: 49%;
    height: 48%;
    position: absolute;
    left: 0px;
    top: 0%;
}

#th{
    background-color: blue;
    width: 49%;
    height: 48%;
    position: absolute;
    left: 0px;
    top: 52%;
}