div {
    height: 32vh;
  }

.div1{
    background-color: blue;
}

.div2{
    background-color: red;
    position: relative;
    top: 2vh;
}

.div3{
    background-color: black;
    position: relative;
    top: 4vh;
}