div {
    height: 33.33vh;
    width: 33.33vw;
  }

.div1{
    background-color: blue;
}

.div2{
    background-color: red;
    position: relative;
    left: 33.33%;
}

.div3{
    background-color: black;
    position: relative;
    left: 66.66%;
}