#div1{
    height: 15vh;
    background-color: black;
}

#div2{
    height: 10vh;
    background-color: blue;
}

#div3{
    height: 21vh;
    width: 20vw;
    background-color: blueviolet;
}

#div4{
    height: 21vh;
    width: 20vw;
    background-color: rgb(143, 137, 150);
}

#div5{
    height: 21vh;
    width: 20vw;
    background-color: rgb(102, 50, 151);
}

#div6{
    height: 21vh;
    width: 20vw;
    background-color: rgb(192, 135, 30);
}

#div7{
    height: 21vh;
    width: 46.5vw;
    background-color: rgb(95, 94, 91);
}

#div8{
    height: 21vh;
    width: 46.5vw;
    background-color: rgb(95, 94, 91);
}

#div9{
    height: 21vh;
    background-color: cadetblue;
}



